{% extends "base.html" %}
{% load static %}

{% block title %}Profile page{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 d-flex p-0">
                <a class="btn btn-sm btn-outline-dark me-3" href="{% url 'profile' user.username %}?tab=profile" role="button">Profile</a>
                <a class="btn btn-sm btn-outline-warning me-3" href="#" role="button">Activity</a>
                {% if session.username == user.username %}
                    <a class="btn btn-sm btn-outline-dark" href="{% url 'profile' user.username %}?tab=edit" role="button">Edit profile</a>
                {% endif %}
            </div>
            <div class="col-sm-2"></div>
        </div>
        {% block profile_content %}
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 p-0">
                <div class="d-flex flex-row p-0">
                    <a class="btn btn-outline-secondary btn-sm me-2" href="#" role="button">Summary</a>
                    <a class="btn btn-outline-secondary btn-sm me-2" href="#" role="button">Answers</a>
                    <a class="btn btn-outline-secondary btn-sm me-2" href="#" role="button">Questions</a>
                    <a class="btn btn-outline-secondary btn-sm" href="#" role="button">Tags</a>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-6">
                        <p class="border-bottom">Answers ({{ user.answers | length }})</p>
                        {% for answer in user.answers|slice:":5" %}
                            <div class="d-flex flex-row">
                                <div class="card px-2 mb-1"><p class="fs-5 m-0">{{ answer.likes }}</p></div>
                                <p class="fs-5 ms-1 m-0"><a href="/question/{{ answer.question }}#{{ answer.id }}">{{ answer.text|truncatechars:"30" }}</a></p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-sm-6">
                        <p class="border-bottom">Questions ({{ user.questions | length }})</p>
                        {% for question in user.questions|slice:":5" %}
                            <div class="d-flex flex-row">
                                <div class="card px-2 mb-1"><p class="fs-5 m-0">{{ question.votes }}</p></div>
                                <p class="fs-5 ms-1 m-0"><a href="/question/{{ question.id }}">{{ question.title|truncatechars:"30" }}</a></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-6">
                        <p class="border-bottom">Tags ({{ user.tags | length }})</p>
                        <div class="d-flex flex-column">
                            tags
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p class="border-bottom">Reputation ({{ user.answers | length }})</p>
                        <div class="d-flex flex-column">
                            some king of reputation here
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        {% endblock %}
    </div>
{% endblock %}

