{% extends "base.html" %}
{% load static %}

{% block title %}All questions{% endblock %}

{% block content %}
    <div class="col-sm-8 p-0 list-group-flush">
        <div class="row">
            <div class="col-lg-6">
                <h2>All Questions</h2>
                <p class="fs-4 fw-light">{{ questions|length }} questions</p>
            </div>
            <div class="col-lg-6 d-flex flex-column align-items-end justify-content-end">
                <a href="{% url 'ask_question' %}" class="btn btn-primary mb-2">Ask question</a>
                <a class="btn btn-secondary search-filter-button" onclick="filterSearchDropdown()">Filters</a>
            </div>
            <div class="search-filters mt-3" hidden="true">
                <form class="search-form">
                    <div class="flex card p-3">
                        <div class="row flex-row border-bottom">
                            <div class="col-6">
                                <h3 class="cm-strong">Sort by</h3>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sortRadio" id="newest" value="Newest" checked>
                                    <label class="form-check-label" for="newest">
                                        Newest
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sortRadio" value="MostFrequent" id="mostFrequent">
                                    <label class="form-check-label" for="mostFrequent">
                                        Most frequent
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sortRadio" value="MostVotes" id="mostVotes">
                                    <label class="form-check-label" for="mostVotes">
                                        Most votes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <h3 class="cm-strong">Filter by</h3>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="answersRadio" id="hasAnswers" value="HasAnswers" checked>
                                    <label class="form-check-label" for="hasAnswers">
                                        Has Answers
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="answersRadio" id="noAnswers" value="NoAnswers">
                                    <label class="form-check-label" for="noAnswers">
                                        No Answers
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a class="btn btn-primary mt-2" onclick="applySearchFilters()">Apply filters</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% for question in questions %}
        {% include "../includes/question_template.html" %}
        {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if nav_info.cur_page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="questions/{{ nav_info.cur_page|add:"-1" }}">Prev</a>
                    </li>
                {% endif %}

                {% if nav_info.cur_page != 1 %}
                    <li class="page-item"><a class="page-link" href="questions?page=1">1</a></li>
                {% endif %}
                {% if nav_info.cur_page > 2 %}
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                {% endif %}
                <li class="page-item active"><a class="page-link" href="questions?page={{ nav_info.cur_page }}">{{ nav_info.cur_page }}</a></li>
                {% if nav_info.cur_page < nav_info.all_pages|add:"-2" %}
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                {% endif %}
                {% if nav_info.cur_page != nav_info.all_pages %}
                    <li class="page-item"><a class="page-link" href="questions?page={{ nav_info.all_pages }}">{{ nav_info.all_pages }}</a></li>
                {% endif %}

                {% if nav_info.cur_page < nav_info.all_pages %}
                <li class="page-item">
                    <a class="page-link" href="tag?page={{ nav_info.cur_page|add:"1" }}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="col-sm-2"></div>
{% endblock %}

