{% extends "base.html" %}
{% load static %}

{% block title %}Profile page{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 d-flex p-0">
                <a class="btn btn-sm btn-outline-dark me-3" href="{% url 'profile' user.username %}?tab=profile" role="button">Profile</a>
                <a class="btn btn-sm btn-outline-warning me-3" href="#" role="button">Activity</a>
                {% if session.username == user.username %}
                    <a class="btn btn-sm btn-outline-dark" href="{% url 'profile' user.username %}?tab=edit" role="button">Edit profile</a>
                {% endif %}
            </div>
            <div class="col-sm-2"></div>
        </div>
        {% block profile_content %}
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 p-0">
                <div class="d-flex flex-row p-0">
                    <a class="btn btn-outline-secondary btn-sm me-2" href="{% url 'profile' user.username %}?tab=summary" role="button">Summary</a>
                    <a class="btn btn-outline-secondary btn-sm me-2" href="{% url 'profile' user.username %}?tab=answers" role="button">Answers</a>
                    <a class="btn btn-outline-secondary btn-sm me-2" href="{% url 'profile' user.username %}?tab=questions" role="button">Questions</a>
                    <a class="btn btn-outline-secondary btn-sm" href="{% url 'profile' user.username %}?tab=tags" role="button">Tags</a>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-6">
                        <p class="border-bottom">Answers ({{ answers | length }})</p>
                        {% for answer in answers|slice:":5" %}
                            <div class="d-flex flex-row">
                                <div class="card px-2 mb-1"><p class="fs-5 m-0">{{ answer.likes }}</p></div>
                                <p class="fs-5 ms-1 m-0"><a href="/question/{{ answer.question }}#{{ answer.id }}">{{ answer.text|truncatechars:"30" }}</a></p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-sm-6">
                        <p class="border-bottom">Questions ({{ questions | length }})</p>
                        {% for question in questions|slice:":5" %}
                            <div class="d-flex flex-row">
                                <div class="card px-2 mb-1"><p class="fs-5 m-0">{{ question.votes }}</p></div>
                                <p class="fs-5 ms-1 m-0"><a href="/question/{{ question.id }}">{{ question.title|truncatechars:"30" }}</a></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-6">
                        <p class="border-bottom">Tags ({{ tags | length }})</p>
                        {% for tag in tags|slice:":5" %}
                            <div class="d-flex flex-row">
                                <p class="fs-5 ms-1 m-0"><a href="/tags/{{ tag.id }}">{{ tag.name|truncatechars:"30" }}</a></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        {% endblock %}
    </div>
{% endblock %}

